*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(49, 1, 63, 0.904);
    font-family:system-ui;
    color: #fff;
}
.cruds{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    background-color:rgba(0, 0, 0, 0.781);
    color: #fff;
    margin: 4px 0;
    border-radius: 6px;
}
input:focus{
   background-color: black; 
   transform: scale(1.1);
}
.price input{
    width: 20%;
}
#total{
    background-color: blue;
    border-radius: 7px;
    padding: 5px 2px;   
}
#total::before{
content: "total";
}


button{
    width: 100%;
    height: 30px;
    margin: 6px;
    background-color: rgb(44, 2, 35);
    color: #fff;
    border: none;
    border-radius: 120px;
    cursor: pointer;
    transition: 0.5s ease;
}
button:hover{
    background-color: rgba(173, 7, 123, 0.733);
    letter-spacing:1 px;
}
.btnsearch button{
    width: 45%;
}
.btnsearch{
    display: flex;
    justify-content: space-between;
}
table{
    width: 100%;
    text-align: center;
}
table th{
   text-transform: uppercase;
}
th,td{
    padding: 5px;
 
}
table button:hover{
    transform: scale(1.1);
}



/*
*{
    margin:0;
    padding:0;
}
body{
    background-color: rgba(0, 0, 0, 0.918);
    font-family: system-ui;
    color: #fff;
}
.cruds{
    width:80%;
    margin: auto;
}
.head{
    text-align:center;
    text-transform: uppercase;
    margin: 10px 0;;
}
input{
    width:100%;
    height:30 px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.493);
   outline:none;
   padding: 8px;
   margin: 4px 0;
   border-radius:5px;
}
input:focus{
    background-color: black;
    transform: scale(1.1);
}
.price input{
    width:20%;
}
button{
    width: 100%;
    height: 30px;
    background-color: rgb(24, 2, 46);
    border-radius:20px;
    margin: 4px 0;
    border: none;
    color:#fff;
    cursor:pointer;
    transition: 0.5 s ease;

}
button:hover{
    background-color: rgb(28, 1, 29);
    letter-spacing:1px;
}
#total{
    background-color: rgb(212, 9, 9);
    padding: 5px 2px;
    border-radius: 4px;
}
#total:before{
    content:"total";
}
.btnsearch button{
    width:45%;
}
.btnsearch{
    display:flex;
    justify-content: space-between;
}
#deleteAll{
    margin: 20px 0;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
td,th{
    padding: 5px;
}
table button:hover{
    transform: scale(1.1);
}



*/